<?xml version='1.0' encoding='utf-8'?>
<widget 
id="de.shenlian.freedice" 
version="0.1.0" 
versionCode = "10"
xmlns="http://www.w3.org/ns/widgets" 
xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Free Dice</name>
    <description>
        Free Dice        
    </description>
    <author email="FreeDice@shenlian.de" href="http://freedice.shenlian.de">
        Lian Shen, shenlian.de, S&S Lab
    </author>
    <gap:platform name="android" />
    <gap:platform name="winphone" />    
    <preference name="orientation" value="portrait" />
  	<gap:splash src="splash.png" />
    <preference name="splash-screen-duration" value="15000"/>   
    <icon src="s.png" />  
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" /> 
</widget>
