<?xml version='1.0' encoding='utf-8'?>
<widget 
id="de.shenlian.freedice" 
version="0.1.0" 
versionCode = "10"
xmlns="http://www.w3.org/ns/widgets" 
xmlns:gap   = "http://phonegap.com/ns/1.0" >

    <name>Free Dice</name>
    <description>
        Free Dice        
    </description>
    <author email="FreeDice@shenlian.de" href="http://freedice.shenlian.de">
        Lian Shen, shenlian.de, S&amp;S Lab
    </author>
    <gap:platform name="android" />
    <gap:platform name="winphone" />    
    <preference name="orientation" value="portrait" />
    <gap:splash src="res/splash_ld.png" gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/splash_md.png" gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/splash_hd.png" gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/splash_xh.png" gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/splash.png" gap:platform="winphone" />    
    <preference name="splash-screen-duration" value="15000"/>   
    <icon src="s.png" />  
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" /> 
</widget>
